:root {
  font-family: system-ui, ui-sans-serif;
  font-size: 24px;
  line-height: 1.6em;
  --col-1: white;
  --col-2: black;
  --col-3: red;
  --col-4: royalblue;
  --col-5: yellow;
  
  /* color: var(--col-2); */
  background: var(--col-1);
  scroll-behavior: auto;
  -webkit-scroll-behavior: auto;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

* {
  line-height: 1.6em;
}

body {
  padding: 1em;
}

header.main {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--col-1);
  margin-top: -1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  /* position: absolute; */
  margin: 1rem;
  width: 270px;
  height: 450px;
  perspective: 500px;
}

@media screen and (max-width: 750px) {
  .card {
    perspective: 1200px;
    width: 90vw;
    height: calc(1.666 * 90vw);
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card.flipped .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front {
  background: url(/images/mountain-that-eats-men.jpg);
  background-size: cover;
}

.back {
  background: var(--col-1);
}

.front,
.back {
  overflow: hidden;
  border-radius: 1rem;
  border: 0.5rem solid var(--col-2);
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back {
  transform: rotateY( 180deg );
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-size:
    50px,
    cover;
  background-position:
    bottom left,
    center;
  background-repeat: no-repeat;
}

.back h2 {
  margin-top: auto;
  margin-bottom: auto;
  background: var(--col-1);
}

.back img {
  margin-top: auto;
  margin-bottom: auto;
  background: var(--col-1);
}

.back legend {
  margin-top: auto;
  text-align: right;
  font-size: 0.5rem;
  align-self: flex-end;
  background: var(--col-2);
  color: var(--col-1);
  margin-right: -1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;  
}

button, a.nav-link {
  display: inline-block;
  background: white;
  font-size: 0.6rem;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

a.nav-link {
  color:inherit;
}

a.nav-link:hover,
button:hover {
  background: var(--col-4);
  color: var(--col-1);
}

ul.credits {
  list-style: none;
  column-width: 20ch;
  column-count: auto;
  padding: 1rem;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}